#navbar div{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#navbar span{
    margin-left: 65%;
}

#navbar a{
    margin-right: 5px;
}

#itinerary, #group{
    margin-left: 30px;
}

#itinerary p, #group p{
    margin-left: 30px;
}
